{% extends "main-full.html" %}

{% block title %}Overview{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}public_js/tooltip.js"></script>
{% endblock %}


{% block breadcrumbs %}{% endblock %}
{% block content %}

<!-- Usage Section -->
<h1>ARCS Services</h1>
<div class="panel section">

  <h1><a href="">No can do</a></h1>


  <div id="videoContent" class="tabcontent">
    <div class="section">
      <p>Sorry but your IdP is not allowed to access this service.</p>
    </div>

  </div>
</div>

{% endblock %}


